{% extends "base.html" %}

{% block title %}All articles{% endblock %}

{% block content %}
<h1 class="mb-4">All articles</h1>
{% if articles %}
    <div class="row">
        {% for article in articles %}
        <div class="col-mb-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <p class="card-title">{{ article.content }}</p>
                    <p class="card-title">{{ article.created_at }}</p>
                    <div class="d-flex justify-content-between">
                        <a href="{{ url_for('delete_article', article.pk) }}"
                           class="btn btn-outline-danger"
                           onclick="return confirm('Are you sure?')">
                            Delete
                        </a> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>