{% extends 'base.html' %}

{% block title %}Password Changed{% endblock %}

{% block content %}
<div class="max-w-md mx-auto mt-10 bg-white rounded-lg shadow-md p-6">
    <div class="bg-green-100 border-l-4 border-green-500 text-green-700 p-4" role="alert">
        <h4 class="font-bold">Password Changed!</h4>
        <p class="mt-2">Your password has been successfully changed.</p>
        <a href="{% url 'login' %}" class="mt-4 inline-block px-4 py-2 bg-green-600 text-white rounded-lg hover:bg-green-700 transition">
            Login
        </a>
    </div>
</div>
{% endblock %}